/* ------------------ Google fonts ---------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
/*------------------ common styles----------------- */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  background-color: #e02c6d;
  color: #fff;
  padding: 10px 24px;
  text-decoration: none;
}

/* ----------------navbar------------- */
.top-section {
  background-color: #2d25a0;
  width: 100%;
}
.header {
  margin: 0 140px;
  padding: 42px 0;
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  
}
.bars {
  display: none;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
  padding-right: 36px;
}

/* -------------------top banner------------ */
.top-banner {
  display: flex;
  justify-content: space-between;
  margin: 0 140px;
}
.watch-btn {
  transition: 1s ease;
}
.top-banner:hover .watch-btn {
  padding: 10px 40px;
}
.banner-text h1 {
  color: #fff;
  font-size: 55px;
  font-weight: bold;
}
/* Figma te .banner-text h1 er size 64 pixel. kintu ekhane 64 dile 4 line hoye jai. tai md sakib ahmed vai er poramorshe font-size ektu komiye dilam design thik rakhar jonno */
.banner-img img {
  width: 556.01px;
  height: 438px;
}

/* player section */
.players-section{
  display: flex;
  justify-content: center;
}
.players {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 27px;
  width: 1000px;
  margin-top: 50px;
}
.player {
  padding: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player h3 {
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 10px;
}
.player p {
  margin-top: 0;
  font-size: 16px;
  color: #6c6c6c;
}
.player img {
  width: 300px;
  height: 256px;
}

/* ------------highlights section----------- */

.highlights {
  margin: 90px 140px;
  align-items: center;
  display: flex;
}
.highlight-text h1 {
  font-size: 35px;
  margin: 8px 0;
}
.highlight-text p {
  margin-bottom: 30px;
  color: #6c6c6c;
}
.highlight-img img {
  width: 567px;
  height: 427px;
  margin-left: 66px;
}
/* --------------------latest photos------------- */

.latest-photos h2{
   color: #e02c6d; 
   text-align: center;
   font-size: 2em;
}
.photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.photo{
    overflow: hidden;
}
.photo img:hover{
    transform: scale(1.3);
}
.photo img{
    width: 100%;
    margin-bottom: -6px;
    transition: 2s ease;
}
/*--------------- news section ---------------- */
.news-section{
  margin: 0 auto;
  width: 90%;
}

.section-title{
  text-align: center;
  font-size: 2em;
  color: #e02c6d;
}
.news-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news{
  width: 350px;
  box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
  padding: 10px;
}
.news img{
  width: 100%;
  height: auto;
}
.news-content{
  color: #6c6c6c;
}
.all-news{
  display: block;
  margin: 30px auto;
  text-align: center;
}

/* ----------------footer-----------------  */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer-box {
  width: 483.87px;
  height: 213px;
  text-align: center;
  margin-bottom: 63px;
  margin-top: 40px;
}
.img img {
  width: 483.87px;
  height: 110px;
}
.icon i {
  font-size: 2em;
  color: #969bab;
  background: #e7e7e8;
  padding: 20px;
  border-radius: 50px;
  margin: 0 10px;
}
.text p {
  font-size: 18px;
}
/* footer section end */

/* for mobile device */
/* navbar */
@media (max-width: 688px) {
  .header {
    margin: 0 auto;
    width: 100%;
    
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 18px;
  }
  .bars {
    display: block;
    color: #fff;
    font-size: 2em;
  }
  .nav-links {
    display: none;
  }
  .nav-links a {
    padding: 15px 10px;
  }

  /* top-banner */
  .top-banner {
    flex-direction: column;
    margin: 0 auto;
  }
  .banner-text h1 {
    font-size: 36px;
    margin-left: 16px;
  }
  .watch-btn {
    margin-left: 19px;
  }
  .banner-img img {
    width: 80%;
    height: auto;
    margin: 50px 16px;
    
  }
  /* players */
  .players {
    grid-template-columns: 1fr;
    margin: 0 15px;
  }
  .player img{
    width: 100%;
    height: auto;
  }

  /* highlights */
  .highlights {
    flex-direction: column;
    margin: 60px 15px;
  }
  .highlight-img img {
    width: 90%;
    height: auto;
    margin: 50px 16px;
  }
  /* latest-photos section */
  .photos{
    grid-template-columns: 1fr;
  }
  /* news section  */
  .news-container{
    flex-direction: column;
    align-items: center;
  }
  .news{
    width: auto;
  }
  .news img{
    width: 90%;
    height: auto;
  }
  .all-news{
    display: inline-block;
  }
  /* footer */
  .img img{
    width: 271px;
    height: 63px;
  }
  .icon i{
      font-size: 20px;
      padding: 15px;
  }
}

/* for tablets and medium size devices */
@media (min-width: 689px) and (max-width: 992px){
   
    .header{
        margin: 0 40px;
    }
    .nav-links a{
        padding-right: 5px;
    }
    .top-banner{
        flex-direction: column;
    }
    .banner-img img{
        margin: 50px auto;
    }
    .players{
        grid-template-columns: 1fr 1fr;
        margin: 10px 30px;
    }
    .highlights{
        flex-direction: column;
        margin: 20px 40px;
    }
    .highlight-img img{
        margin: 30px;
    }
    .photos{
      grid-template-columns: 1fr 1fr;
    }
    .news-container{
      justify-content: center;
    }
}
